// src/pages/admin/AdminHome/adminHome.scss

$mainwhite-color: #d5c5c5;
$secondwhite-color: #fafafa;
$darkblue-color: #ffffff;

* {
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-component-div {
  width: 100%;
  // height: 3000px;
  // background-color: $mainwhite-color;
  min-height: 100vh;
  position: flex;
  min-height: 100%;

  .child-components-div{
    margin-left: 5rem;
    background-color: $darkblue-color;
  }
  
}
